<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #03192e;
    color: #f3f3f3;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: #f3f3f3;
  }
  a:hover {
    transform: scale(1.1);
  }

  .active {
    font-weight: bold;
    color: #ffcc00;
    transform:  scale(1.1);
  }
</style>


<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Counter</a>
  <a [routerLink]="['/hero']" routerLinkActive="active">Hero</a>
  <a routerLink="/dragonball" routerLinkActive="active">Dragon Ball</a>
  <a routerLink="/dragonball-super" routerLinkActive="active">Dragon Ball Super</a>
</nav>
